<footer>
    <div  class="grid-container">
        <div class="grid-x grid-padding-x small-up-1 medium-up-3">
            <div class="cell Impressium">
                <img src="img/keeptrack.png" alt="Social Media">
            </div>
            <div class="cell Impressium">
                <br />
                <h5>Ein Projekt von Studierenden der Zürcher Hochschule für angewandte Wissenschaften</h5>
            </div>
            <div class="cell Impressium">
                <br />
                <h5>&copy Carlo Field, Jeffrey Jud, <br />Philip Keller, Vanessa Baer</h5>
            </div>
        </div>
    </div>
</footer>