body {
    background: #215294;

}
footer
{ margin-top: 3%;}

.Impressium{
    background-color: white;
    border: 1vmax solid white;
}

footer img{
    width: 40vmax;
}

h1 {
    font-weight: bolder;
    font-family: "Arial Black", sans-serif;
}
#WhiteBackground {
    background-color: white;
    max-width:65vmax;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 10px solid transparent;
    background-clip: content-box;
}

#logo{
    margin-top: 2.5%;
}

table td:last-child {
    width: auto;
    padding-top: 20px;
}
table th:last-child {
    width: 50px;
    padding-top: 20px;
}

thead {
    background-color: #47BEC4;
    color: white;
}
table.hover thead tr:hover {
    background-color: #47BEC4; }

table.hover tbody tr:hover {
    background-color: #FFC730; }

.transparent{
    opacity: 0.2;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

.dropdown-pane .button{
    width: 100%;
}

.button {
    background-color: #558FF3; /*blue shade of background*/
}
#new{
    background-color: #47BEC4; /*green shade of background*/
}
#edit{
    background-color: #FFC730; /*yellow shade of background*/
}
#delete{
    background-color: #F44646; /*red shade of background*/
}



