.dashboard .button{
    border-color: black;
    border-width: 2px;
    min-height: 10vmax;
    padding-top: 3.7vmax;
    font-size: 20px;
    font-weight: bold;
}

.dashboard{
    padding-top: 100px;
    padding-bottom: 100px;
}
.dashboardbuttons{
    background-color: #8a8a8a;
}