.top-bar-responsive {
    background: #215294;
    padding-right: 4rem;
}

.top-bar-responsive .menu {
    background: #215294;
}

.top-bar-responsive .menu li:last-of-type {
    margin-right: 0;
}

.top-bar-responsive .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
}

.top-bar-responsive .menu a:hover {
    color: #47BEC4;
}

@media screen and (max-width: 39.9375em) {
    .top-bar-responsive .menu a {
        padding: 0.875rem 0;
    }
}

@media screen and (max-width: 39.9375em) {
    .top-bar-responsive {
        padding: 0.75rem;
        background-color: #fefefe;
    }
    .top-bar-responsive .top-bar-title {
        position: relative;
        margin-left: 0;
        width: 100%;
    }
    .top-bar-responsive .top-bar-title span {
        position: absolute;
        border: 1px solid #215294;
        border-radius: 5px;
        background-color: #215294;
        padding: 0.25rem 0.45rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}