form
{
    width: 95%;
    margin: 0 auto;
}
h2
{
    margin-top: 20px;
    margin-bottom: 30px;
}
table
{
    width: 70%;
    margin: 0 auto;
    text-align: left;
}
.rowspan
{
    width: 190px !important;
    background-color: lightgrey;
    background-image: url(../img/profil.jpg);
    background-size: cover;
}