table {
    width: 95%;
    text-align: left;
    margin: 0 auto;
}

td, th{
    height: 30px;
}

.results{
    font-size: large;
    margin-left: 2.5%;
}

form
{
    width: 95%;
    margin: 0 auto;
}
h2
{
    margin-top: 20px;
}

.check
{
    display: inline;
}

.result
{
    overflow: auto;
}