table {
    width: 95%;
    text-align: left;
    margin: 0 auto;
}

td, th{
    height: 30px;
}

h2
{
    margin-top: 20px;
    margin-bottom: 30px;
}

.check
{
    display: inline;
}

.result
{
    overflow: auto;
}